[submodule "hello_foundry/lib\\forge-std"]
	path = hello_foundry/lib\\forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "PoC_test/lib\\openzeppelin-contracts"]
	path = PoC_test/lib\\openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
